{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row mt-3">
    <div class="col-md-12 post-side-margin-sm">
        <div class="row bg-white border border-muted p-3 mb-2">
            <div class="col-12">
                <h3>Reset Password</h3><hr>
                <form class="form" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-primary" type="submit" value="Reset Password"/>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}