{% extends 'base.html' %}

{% block content %}
<div class="row mt-3">
    <div class="col-md-12 post-side-margin-sm">
        <div class="row p-3 mb-2">
            <div class="col-12 text-center">
                <span class="fa fa-file-text fa-4x mb-5"></span>
                <span class="fa fa-angle-double-right fa-3x mx-5"></span>
                <span class="fa fa-envelope fa-4x mb-5"></span>
                <div class="alert alert-info">
                    An email with instructions to reset password has been sent to your registered email address.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}