body{
    overflow-x: hidden!important;
}

.mint-green-bg{
    background-color: #89dfbf;
}

.box-shadow{
    box-shadow: 0px 0px 10px 5px #ffffff;
}

.page-content{
    /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img.wooden-frame {
	box-sizing: border-box;
	display: block;
	padding: 10%;
	background-color: #A67B5B;
	background-image: url(https://media.istockphoto.com/photos/laminate-wooden-floor-texture-background-picture-id1083302826?b=1&k=20&m=1083302826&s=170667a&w=0&h=ePdma8I7u7KHs2YbehQSVcCX9qay5iPr3wynsWnzFZ0=);
	background-repeat: no-repeat;
	background-size: cover;
	border: 6px double #483C32;
	outline: 2px solid #333;
	outline-offset: 0px;
}

img.wooden-frame:hover {
	box-sizing: border-box;
	display: block;
	padding: 5%;
	background-color: #A67B5B;
	background-image: url(https://media.istockphoto.com/photos/laminate-wooden-floor-texture-background-picture-id1083302826?b=1&k=20&m=1083302826&s=170667a&w=0&h=ePdma8I7u7KHs2YbehQSVcCX9qay5iPr3wynsWnzFZ0=);
	background-repeat: no-repeat;
	background-size: cover;
	border: 6px double #483C32;
	outline: 2px solid #333;
	outline-offset: 0px;
}

.wooden-button{
    background: url(https://media.istockphoto.com/photos/laminate-wooden-floor-texture-background-picture-id1083302826?b=1&k=20&m=1083302826&s=170667a&w=0&h=ePdma8I7u7KHs2YbehQSVcCX9qay5iPr3wynsWnzFZ0=) no-repeat top left;
}

.bg-wooden-dark{
    background-color: #483C32;
}

.search-textbox{
    border-radius: 5px 0px 0px 5px!important;
}

.search-button{
    border-radius: 0px 5px 5px 0px!important;
}

.border-dark-bottom{
    border-bottom: 1px solid#483C32;
}

.message-row{
    position: absolute;
    width: 100%;
    z-index: 1;
}

.cursor-pointer{
	cursor: pointer;
}

.no-text-decoration{
	text-decoration: none!important;
}

.no-artwork-section{
	height: 400px;
}

.no-artwork-section h4{
	padding: 200px 0px;
}
