body{
    overflow-x: hidden!important;
	background-image: url(../images/background.jpg);
	font-family: 'Open Sans', sans-serif;
}

.mint-green-bg{
    background-color: #89dfbf;
}

.box-shadow{
    box-shadow: 0px 0px 10px 5px #ffffff;
}

.page-content{
    /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img.wooden-frame {
	box-sizing: border-box;
	display: block;
	padding: 10%;
	background-color: #A67B5B;
	background-image: url(https://media.istockphoto.com/photos/laminate-wooden-floor-texture-background-picture-id1083302826?b=1&k=20&m=1083302826&s=170667a&w=0&h=ePdma8I7u7KHs2YbehQSVcCX9qay5iPr3wynsWnzFZ0=);
	background-repeat: no-repeat;
	background-size: cover;
	border: 6px double #483C32;
	outline: 2px solid #333;
	outline-offset: 0px;
}

img.wooden-frame:hover {
	box-sizing: border-box;
	display: block;
	padding: 5%;
	background-color: #A67B5B;
	background-image: url(https://media.istockphoto.com/photos/laminate-wooden-floor-texture-background-picture-id1083302826?b=1&k=20&m=1083302826&s=170667a&w=0&h=ePdma8I7u7KHs2YbehQSVcCX9qay5iPr3wynsWnzFZ0=);
	background-repeat: no-repeat;
	background-size: cover;
	border: 6px double #483C32;
	outline: 2px solid #333;
	outline-offset: 0px;
}

.wooden-button{
    background: url(https://media.istockphoto.com/photos/laminate-wooden-floor-texture-background-picture-id1083302826?b=1&k=20&m=1083302826&s=170667a&w=0&h=ePdma8I7u7KHs2YbehQSVcCX9qay5iPr3wynsWnzFZ0=) no-repeat top left;
}

.bg-wooden-dark{
    background-color: #483C32;
}

.search-textbox{
    border-radius: 5px 0px 0px 5px!important;
}

.search-button{
    border-radius: 0px 5px 5px 0px!important;
}

.border-dark-bottom{
    border-bottom: 1px solid#483C32;
}

.message-row{
    position: absolute;
    width: 100%;
    z-index: 1;
}

.cursor-pointer{
	cursor: pointer;
}

.no-text-decoration{
	text-decoration: none!important;
}

.no-artwork-section{
	height: 400px;
}

.no-artwork-section h4{
	padding: 200px 0px;
}

.no-border-radius{
	border-radius: 0!important;
}

.cart-count-circle{
	border-radius: 50%;
}

#cart-table td {
	vertical-align: middle;
  }

#cart-table th {
	vertical-align: middle;
  }

.cart-image{
	border: 1px solid gray;
	height:50px;
	width:50px;
}

.no-cart-item{
	text-align: center;
	height: 100px;
}

.font-bold{
	font-weight: bold;
}

/*-------------------------------Checkout Page----------------------------*/
.card-header .title {
    font-size: 17px;
    color: #000;
}
.card-header .accicon {
  float: right;
  font-size: 20px;  
  width: 1.2em;
}
.card-header{
  cursor: pointer;
  border-bottom: none;
}
.card{
  border: 1px solid #ddd;
}
.card-body{
  border-top: 1px solid #ddd;
}
.card-header:not(.collapsed) .rotate-icon {
  transform: rotate(180deg);
}

/*-----------------------Country Picker---------------------------------*/
.dropdown-toggle.btn-default {
	color: #292b2c;
	background-color: #fff;
	border-color: #ccc;
  }
  .bootstrap-select.show > .dropdown-menu > .dropdown-menu {
	display: block;
  }
  .bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden {
	display: none;
  }
  .bootstrap-select > .dropdown-menu > .dropdown-menu li a {
	display: block;
	width: 100%;
	padding: 3px 1.5rem;
	clear: both;
	font-weight: 400;
	color: #292b2c;
	text-align: inherit;
	white-space: nowrap;
	background: 0 0;
	border: 0;
	text-decoration: none;
  }
  .bootstrap-select > .dropdown-menu > .dropdown-menu li a:hover {
	background-color: #f4f4f4;
  }
  .bootstrap-select > .dropdown-toggle {
	width: 100%;
  }
  .dropdown-menu > li.active > a {
	color: #fff !important;
	background-color: #337ab7 !important;
  }
  .bootstrap-select .check-mark {
	line-height: 14px;
  }
  .bootstrap-select .check-mark::after {
	font-family: "FontAwesome";
	content: "\f00c";
  }
  .bootstrap-select button {
	overflow: hidden;
	text-overflow: ellipsis;
  }
  
  /* Make filled out selects be the same size as empty selects */
  .bootstrap-select.btn-group .dropdown-toggle .filter-option {
	display: inline !important;
  }