{% extends 'admin_dashboard_base.html' %}
{% load static %}
{% load mathfilters %}

{% block content %}
<div class="content-wrapper pb-2">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mx-auto">
                <div class="col-md-12 text-center no-padding-left-lg no-padding-right-lg">
                    {% for message in messages %}
                    <div class="text-center alert alert-{% if message.level == 40 %}danger{% else %}{{message.tags}}{% endif %}"
                        role="alert" id="message-container">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 inline">Products</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Admin Dashboard</a></li>
                        <li class="breadcrumb-item active">Products</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <ul type="none" class="pl-0">
                        <li class="bg-dark">
                            <a href="#" class="btn btn-dark form-control text-left" data-toggle="modal"
                                data-target="#addProductModal">Add New Product</a>
                        </li>
                        <li class="bg-dark">
                            <a href="#" class="btn btn-dark form-control text-left" data-toggle="modal"
                                data-target="#addProductTypeModal">Add New Product Type</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-9">
                    {% for products_type in products_type_list %}
                    {% if products_type|length > 0 %}
                    <div class="card card-dark">
                        <div class="card-header no-border-radius" data-card-widget="collapse" aria-expanded="true">

                            <h3 class="card-title">{{products_type.0.art_type|title}}
                                ({{products_type|length}})</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                        class="fas fa-plus"></i>
                                </button>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body" style="display: none;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Sold</th>
                                        <th>In Stock</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products_type %}
                                    <tr>
                                        <td scope="row">{{forloop.counter}}</td>
                                        <td>
                                            <img class="cart-image" src="{{product.product.all.0.image.url}}">
                                        </td>
                                        <td>{{product.name}}</td>
                                        <td>{{product.price}}</td>
                                        <td>{{product.sold_quantity}}</td>
                                        <td>{{product.stock_quantity}}</td>
                                        <td>
                                            <a href="#" class="fa fa-edit" title="Update Product"
                                                data-toggle="modal" data-target="#updateProductModal{{product.id}}">
                                            </a>
                                        </td>
                                    </tr>

                                    <!--------------------------- Add New Product Modal ---------------------->
                                    <div class="modal fade" id="updateProductModal{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content border-0">
                                            <form method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="modal-header bg-dark">
                                                    <h5 class="modal-title" id="exampleModalLabel">
                                                        Update Product
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true" class="text-white">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="product_name">Product Name</label>
                                                                <input type="text" class="form-control" name="product_name"
                                                                    value="{{product.name}}">
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="product_description">Product Description</label>
                                                                <textarea class="form-control" rows="3" name="product_description">{{product.description}}</textarea>
                                                            </div>
                                                        </div>

                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="product_price">Product Price</label>
                                                                <input type="text" class="form-control" name="product_price" value="{{product.price}}">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="product_art_type">Art Type</label>
                                                                <select class="form-control" id="product_art_type" name="product_art_type"
                                                                    onclick="load_category()">
                                                                    <option value="painting">Painting</option>
                                                                    <option value="antique">Antique</option>
                                                                    <option value="craft">Craft</option>
                                                                    <option value="furniture">Furniture</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="product_artist">Artist</label>
                                                                <select class="form-control" id="product_artist" name="product_artist">
                                                                    {% for user in users_list %}
                                                                    <option value="{{user}}">{{user.first_name}} {{user.last_name}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="product_sold_by">Sold By</label>
                                                                <input type="text" class="form-control" name="product_sold_by" value="{{product.sold_by}}">
                                                            </div>
                                                        </div>

                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="product_discount">Discount</label>
                                                                <input type="text" class="form-control" name="product_discount" value="{{product.discount}}">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="product_art_category">Art Category</label>
                                                                <select class="form-control" id="painting" name="product_art_category">
                                                                    <option value="sketch" class="painting">Sketch</option>
                                                                    <option value="canvas_painting">Canvas Painting</option>
                                                                    <option value="abstract">Abstract</option>
                                                                </select>
                                                                <select class="form-control no-display" id="antique" name="product_art_category">
                                                                    <option value="coins">Coins</option>
                                                                    <option value="rare_item">Rare Item</option>
                                                                </select>
                                                                <select class="form-control no-display" id="craft" name="product_art_category">
                                                                    <option value="paper_craft">Paper Craft</option>
                                                                    <option value="wooden_craft">Wooden Craft</option>
                                                                </select>
                                                                <select class="form-control no-display" id="furniture" name="product_art_category">
                                                                    <option value="chair">Chair</option>
                                                                    <option value="chandelier">Chandelier</option>
                                                                    <option value="closet">Closet</option>
                                                                    <option value="table">Table</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="product_original_by">Original Art By</label>
                                                                <input type="text" class="form-control" name="product_original_by"
                                                                value="{{product.original_art_by}}">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="product_stock">Stock Available</label>
                                                                <input type="number" class="form-control" name="product_stock"
                                                                value="{{product.stock_quantity}}">
                                                            </div>
                                                        </div>

                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label for="product_image">Images</label>
                                                                <input type="file" multiple="multiple"
                                                                    class="form-control btn btn-dark pt-1 pb-4" name="product_image" />
                                                                <div id="" class="mt-3">

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary">Update Product</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-------------------------------------------------------------------->
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    {% endif %}

                    
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>



    <!-- Product Type Modal -->
    <div class="modal fade" id="addProductTypeModal" tabindex="-1" role="dialog"
        aria-labelledby="addProductTypeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content border-0" id="productTypeContent">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Add New Product Type
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-white">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <form method="post" action="{% url 'addnewproducttype' %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-5">
                                        <label for="product_type" class="mb-0">Product Type</label>
                                        <input type="text" class="form-control" id="product_type" name="product_type"
                                            value="">
                                    </div>
                                    <div class="col-5">
                                        <label for="product_type_value" class="mb-0">Product Type Value</label>
                                        <input type="text" class="form-control" id="product_type_value"
                                            name="product_type_value" value="">
                                    </div>
                                    <div class="col-2 mt-4">
                                        <button type="submit" class="btn btn-primary form-control">Add</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        {% for product_type in product_category_list %}
                        <div class="col-6 mt-4">
                            {% if product_type|length > 0 %}
                            <h5 class="bg-dark p-2">{{product_type.0.type.type}}
                                <button type="button" class="btn btn-tool float-right pr-0">
                                    <i class="fas fa-minus-square fa-2x mt-1" title="Delete Type"></i>
                                </button>
                                <button type="button" class="btn btn-tool float-right pr-0" onclick="showProductCategoryForm(type{{product_type.0.type.id}})">
                                    <i class="fas fa-plus-square fa-2x mt-1" title="Add New Category"></i>
                                </button>
                            </h5>

                            <div class="row mx-1 my-1" id="type{{product_type.0.type.id}}">
                                <div class="col-12">
                                    <form method="post" action="{% url 'addnewproductcategory' %}">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-8">
                                                <input type="text" class="form-control form-control-sm"
                                                    id="type_category" name="type_category" required>
                                                <input type="text" class="form-control form-control-sm"
                                                    id="type_value" name="type_value" value="{{product_type.0.type.id}}" hidden>
                                            </div>
                                            <div class="col-4">
                                                <button type="submit" class="btn btn-primary btn-sm col-6">Add</button>
                                                <a class="btn btn-dark btn-sm col-5"
                                                    onclick="hideProductCategoryForm(type{{product_type.0.type.id}})">X</a>
                                            </div>
                                        </div>
                                        <hr class="my-0 mt-2">
                                    </form>
                                </div>
                            </div>
                            {% endif %}

                            {% for product_category in product_type %}
                            <div id="category_data_{{product_category.id}}">
                                <p class="mb-1 ml-2 inline">{{product_category.category}}</p>
                                <a class="text-sm fas fa-trash float-right cursor-pointer text-danger mr-2 mt-1"
                                data-toggle="modal" data-target="#deleteCategoryModal{{product_category.id}}">
                                </a>

                                <!---------------------- Delete Category Model --------------------------->
                                <div class="modal" tabindex="-1" role="dialog" id="deleteCategoryModal{{product_category.id}}">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Delete Category - {{product_category.category}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                          <p>Are Your Sure?</p>
                                        </div>
                                        <div class="modal-footer">
                                          <form method="post" action="{% url 'deleteproductcategory' product_category.id %}">  
                                          {% csrf_token %}  
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                          </form>
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                <!------------------------------------------------------------------------>
                                
                                <a class="text-sm fas fa-edit float-right cursor-pointer text-dark mr-2 mt-1"
                                    onclick="showUpdateForm({{product_category.id}})">
                                </a>
                            </div>

                            <div class="row mx-1 no-display my-1" id="{{product_category.id}}">
                                <div class="col-12">
                                    <form method="post" action="{% url 'updateproductcategory' product_category.id %}">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-4">
                                                <input type="text" class="form-control form-control-sm"
                                                    id="form_category" name="form_category"
                                                    value="{{product_category.category}}">
                                            </div>
                                            <div class="col-4">
                                                <input type="text" class="form-control form-control-sm"
                                                    id="form_category_value" name="form_category_value"
                                                    value="{{product_category.value}}">
                                            </div>
                                            <div class="col-4">
                                                <button type="submit" class="btn btn-primary btn-sm">Update</button>
                                                <a class="btn btn-dark btn-sm"
                                                    onclick="hideUpdateForm({{product_category.id}})">X</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>

                    <h6 class="font-bold">Product types with no categories</h6>
                    <div class="row">
                        {% for product_type in product_type_list %}
                        {% if product_type.product_type.all|length == 0 %}
                        <div class="col-6">
                            <div class="row mx-1 bg-dark">
                                <div class="col-6 p-2">
                                    <h5 class="mb-0">{{product_type.type}}</h5>
                                </div>

                                <div class="col-6 p-2">
                                    <form method="post" action="{% url 'deleteproducttype' product_type.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-tool float-right pr-0">
                                            <i class="fas fa-minus-square fa-2x mt-1" title="Delete Type"></i>
                                        </button>
                                    </form>

                                    <form method="post" action="#">
                                        <button type="submit" class="btn btn-tool float-right pr-0">
                                            <i class="fas fa-plus-square fa-2x mt-1" title="Add New Category"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--------------------------- Add New Product Modal ---------------------->
    <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content border-0">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header bg-dark">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Add New Product
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="text-white">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="product_name">Product Name</label>
                                    <input type="text" class="form-control" id="product_name" name="product_name"
                                        value="{{product}}">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="product_description">Product Description</label>
                                    <textarea class="form-control" id="product_description" rows="3"
                                        name="product_description"></textarea>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <label for="product_price">Product Price</label>
                                    <input type="text" class="form-control" id="product_price" name="product_price">
                                </div>

                                <div class="form-group">
                                    <label for="product_art_type">Art Type</label>
                                    <select class="form-control" id="product_art_type" name="product_art_type"
                                        onclick="load_category()">
                                        <option value="painting">Painting</option>
                                        <option value="antique">Antique</option>
                                        <option value="craft">Craft</option>
                                        <option value="furniture">Furniture</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="product_artist">Artist</label>
                                    <select class="form-control" id="product_artist" name="product_artist">
                                        {% for user in users_list %}
                                        <option value="{{user}}">{{user.first_name}} {{user.last_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="product_sold_by">Sold By</label>
                                    <input type="text" class="form-control" id="product_sold_by" name="product_sold_by">
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <label for="product_discount">Discount</label>
                                    <input type="text" class="form-control" id="product_price" name="product_discount">
                                </div>
                                <div class="form-group">
                                    <label for="product_art_category">Art Category</label>
                                    <select class="form-control" id="painting" name="product_art_category">
                                        <option value="sketch" class="painting">Sketch</option>
                                        <option value="canvas_painting">Canvas Painting</option>
                                        <option value="abstract">Abstract</option>
                                    </select>
                                    <select class="form-control no-display" id="antique" name="product_art_category">
                                        <option value="coins">Coins</option>
                                        <option value="rare_item">Rare Item</option>
                                    </select>
                                    <select class="form-control no-display" id="craft" name="product_art_category">
                                        <option value="paper_craft">Paper Craft</option>
                                        <option value="wooden_craft">Wooden Craft</option>
                                    </select>
                                    <select class="form-control no-display" id="furniture" name="product_art_category">
                                        <option value="chair">Chair</option>
                                        <option value="chandelier">Chandelier</option>
                                        <option value="closet">Closet</option>
                                        <option value="table">Table</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="product_original_by">Original Art By</label>
                                    <input type="text" class="form-control" id="product_original_by"
                                        name="product_original_by">
                                </div>
                                <div class="form-group">
                                    <label for="product_stock">Stock Available</label>
                                    <input type="number" class="form-control" id="product_stock" name="product_stock">
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label for="product_image">Images</label>
                                    <input id="product_image" type="file" multiple="multiple"
                                        class="form-control btn btn-dark pt-1 pb-4" name="product_image" />
                                    <div id="dvPreview" class="mt-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Add Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-------------------------------------------------------------------->

</div>
{% endblock%}