{% extends 'admin_dashboard_base.html' %}
{% load static %}
{% load mathfilters %}

{% block content %}
<div class="content-wrapper pb-2">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mx-auto">
                <div class="col-md-12 text-center no-padding-left-lg no-padding-right-lg">
                    {% for message in messages %}
                    <div class="text-center alert alert-{% if message.level == 40 %}danger{% else %}{{message.tags}}{% endif %}"
                        role="alert" id="message-container">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 inline">Products</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Admin Dashboard</a></li>
                        <li class="breadcrumb-item active">Products</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <ul type="none" class="pl-0">
                        <li class="bg-dark">
                            <a href="#" class="btn btn-dark form-control text-left" data-toggle="modal"
                                data-target="#addProductModal">Add New Product</a>
                        </li>
                        <li class="bg-dark">
                            <a href="#" class="btn btn-dark form-control text-left" data-toggle="modal"
                                data-target="#addProductModal">Add New Product Type</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-9">
                    {% for products_type in products_type_list %}
                    {% if products_type|length > 0 %}
                    <div class="card card-dark">
                        <div class="card-header no-border-radius" data-card-widget="collapse" aria-expanded="true">

                            <h3 class="card-title">{{products_type.0.art_type|title}}
                                ({{products_type|length}})</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                        class="fas fa-plus"></i>
                                </button>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body" style="display: none;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Sold</th>
                                        <th>In Stock</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products_type %}
                                    <tr>
                                        <td scope="row">{{forloop.counter}}</td>
                                        <td>
                                            <img class="cart-image" src="{{product.product.all.0.image.url}}">
                                        </td>
                                        <td>{{product.name}}</td>
                                        <td>{{product.price}}</td>
                                        <td>{{product.sold_quantity}}</td>
                                        <td>{{product.stock_quantity}}</td>
                                        <td>
                                            <form method="get">
                                                <input type="text" value="{{product.id}}" name="id" hidden>
                                                <button type="submit" class="btn bg-white no-border">
                                                    <a href="#" class="fa fa-edit" title="Update Product"
                                                        data-toggle="modal" data-target="#addProductModal">
                                                    </a>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content border-0">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header bg-dark">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Add New Product
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="text-white">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="product_name">Product Name</label>
                                    <input type="text" class="form-control" id="product_name" name="product_name"
                                        value="{{product}}">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="product_description">Product Description</label>
                                    <textarea class="form-control" id="product_description" rows="3"
                                        name="product_description"></textarea>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <label for="product_price">Product Price</label>
                                    <input type="text" class="form-control" id="product_price" name="product_price">
                                </div>

                                <div class="form-group">
                                    <label for="product_art_type">Art Type</label>
                                    <select class="form-control" id="product_art_type" name="product_art_type">
                                        <option value="painting">Painting</option>
                                        <option value="antique">Antique</option>
                                        <option class="craft">Craft</option>
                                        <option class="furniture">Furniture</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="product_artist">Artist</label>
                                    <select class="form-control" id="product_artist" name="product_artist">
                                        {% for user in users_list %}
                                        <option value="{{user}}">{{user.first_name}} {{user.last_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="product_sold_by">Sold By</label>
                                    <input type="text" class="form-control" id="product_sold_by" name="product_sold_by">
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <label for="product_discount">Discount</label>
                                    <input type="text" class="form-control" id="product_price" name="product_discount">
                                </div>
                                <div class="form-group">
                                    <label for="product_art_category">Art Category</label>
                                    <select class="form-control" id="product_art_category" name="product_art_category">
                                        <option value="sketch">Sketch</option>
                                        <option value="canvas_painting">Canvas Painting</option>
                                        <option value="abstract">Abstract</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="product_original_by">Original Art By</label>
                                    <input type="text" class="form-control" id="product_original_by"
                                        name="product_original_by">
                                </div>
                                <div class="form-group">
                                    <label for="product_stock">Stock Available</label>
                                    <input type="number" class="form-control" id="product_stock" name="product_stock">
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label for="product_image">Images</label>
                                    <input type="file" class="form-control" name="product_image" multiple>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Add Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock%}