{% extends 'base.html' %}
{% load custom_filter %}
{% load cart %}

{% block content %}
<div class="container">
  <div class="row my-3">
    <div class="col-12">
      {% if request.session.username %}
      <h5 class="mb-2">{{request.session.username|title}}'s Cart</h2>
      {% endif %}

        <table class="table table-bordered bg-white" id="cart-table">
          <thead>
            <tr>
              <th scope="col" class="text-center">#</th>
              <th scope="col" class="text-center">Image</th>
              <th scope="col">Product Name</th>
              <th scope="col" class="text-center">Price</th>
              <th scope="col" class="text-center">Quantity</th>
              <th scope="col" class="text-center">Total</th>
            </tr>
          </thead>
          {% if cart_list.count > 0 %}
          <tbody>
            {% for cart in cart_list %}
            <tr>
              <th scope="row" class="text-center">{{forloop.counter}}</th>
              <td class="text-center"><img src="{{cart.product.all.0.image.url}}" class="cart-image"></td>
              <td>{{cart.name}}</td>
              <td>{{cart.price|discountedprice:cart.discount|inrcurrency|currency}}</td>

              <td>
                <div class="row">
                  {% if cart|is_in_cart:request.session.cart %}
                  <div class="col-12">
                    <div class="row no-gutters">
                      <div class="col-3 text-center cursor-pointer">
                        <form method="post">
                          {% csrf_token %}
                          <input type="text" name="product" value="{{cart.id}}" hidden>
                          <input type="text" name="remove" value="True" hidden>
                          <input type="submit" class="btn btn-light form-control no-border-radius" value="-">
                        </form>
                      </div>

                      <div class="col-6 text-center">
                        <h6 class="pt-2">{{cart|cart_quantity:request.session.cart}} in cart</h6>
                      </div>

                      <div class="col-3 text-center cursor-pointer">
                        <form method="post">
                          {% csrf_token %}
                          <input type="text" name="product" value="{{cart.id}}" hidden>
                          <input type="submit" class="btn btn-light form-control no-border-radius" value="+">
                        </form>
                      </div>
                    </div>
                  </div>
                  {% else %}
                  <div class="col-12 border-right">
                    <form method="post" action="/?page={{page_number}}#product_{{product.id}}">
                      {% csrf_token %}
                      <input type="text" name="product" value="{{product.id}}" hidden>
                      <input type="submit" class="float-right btn btn-light form-control no-border-radius"
                        value="Add to Cart">
                    </form>
                  </div>
                  {% endif %}
                </div>
              </td>

              <td>{% total_price cart cart.discount request.session.cart %}</td>
            </tr>
            {% endfor %}
            <tr>
              <td colspan="5" align="center" class="h5">Total Cart Value</td>
              <td class="h5">{{cart_list|total_cart_price:request.session.cart}}</td>
            </tr>
            </tbody>
          {% else %}
            <tbody>
              <tr>
                <td colspan="6" class="no-cart-item">
                  No item found in cart
                </td>
              </tr>
            </tbody>
          {% endif %}
        </table>
    </div>
    <div class="col-12">
      {% if cart_list.count > 0 %}
      <a href="{% url 'checkoutpage' %}" class="btn btn-secondary float-right no-border-radius">Checkout</a>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}