{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load custom_filter %}
{% load currency_filter %}
{% load mathfilters %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="row mx-3">
        <div class="col-6 px-0">
            {% if search_keyword != None %}
                <h5>{{ search_keyword | upper }} 
                    <small>(Found {{products_list.paginator.count}} results)</small>
                </h5>
            {% endif %}
        </div>
        <div class="col-6 py-2">
            <form method="get" class="form" id="search-filter">
                <div class="form-group row float-right">
                    <div class="col-xs-12">
                        <!-- <input type="text" class="form-control search-textbox"> -->
                        <!-- {{ search_filter.form|crispy }} -->
                        <input type="text" name="name" autocomplete="false" class="form-control search-textbox" id="id_name">
                    </div>
                    <div class="col-xs-2 mr-1">
                        <button class="btn btn-dark wooden-button search-button" type="submit">Search</button>
                        <a href="{% url 'homepage' %}" class="no-text-decoration text-dark"><small><b>Clear</b></small></a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row mx-0">
        <!-- filter -->

        <div class="col-lg-2 mx-auto">
            <div class="list-group">

                <label>Paintings</label>
                <div class="dropdown mb-3">
                    <button class="wooden-button btn btn-dark btn-sm dropdown-toggle w-100" type="button" id="painting"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select paintings
                    </button>
                    <div class="dropdown-menu" aria-labelledby="painting">
                        <a class="dropdown-item" href="#">Sketches</a>
                        <a class="dropdown-item" href="#">Canvas Paintings</a>
                        <a class="dropdown-item" href="#">Abstract</a>
                    </div>
                </div>

                <label>Antiques</label>
                <div class="dropdown mb-3">
                    <button class="wooden-button btn btn-dark btn-sm dropdown-toggle w-100" type="button" id="antique"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select antiques
                    </button>
                    <div class="dropdown-menu" aria-labelledby="antique">
                        <a class="dropdown-item" href="#">Coins</a>
                        <a class="dropdown-item" href="#">Canvas Paintings</a>
                        <a class="dropdown-item" href="#">Abstract</a>
                    </div>
                </div>

                <label>Paper Craft</label>
                <div class="dropdown mb-3">
                    <button class="wooden-button btn btn-dark btn-sm dropdown-toggle w-100" type="button" id="craft"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select carft
                    </button>
                    <div class="dropdown-menu" aria-labelledby="craft">
                        <a class="dropdown-item" href="#">Craft</a>
                        <a class="dropdown-item" href="#">Wallpaper</a>
                    </div>
                </div>

                <label>Furniture</label>
                <div class="dropdown mb-3">
                    <button class="wooden-button btn btn-dark btn-sm dropdown-toggle w-100" type="button" id="furniture"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select furniture
                    </button>
                    <div class="dropdown-menu" aria-labelledby="furniture">
                        <a class="dropdown-item" href="#">Tables</a>
                        <a class="dropdown-item" href="#">Chairs</a>
                        <a class="dropdown-item" href="#">Chandelier</a>
                        <a class="dropdown-item" href="#">Closet</a>
                    </div>
                </div>

                <button class="btn btn-dark btn-sm my-2">Clear</button>
            </div>
        </div>

        <!-- all products -->
        <div id='products' class="col-lg-10 mx-auto">
            {% if products_list.paginator.count > 0 %}
            <div class="row mx-auto">
                {% for product in products_list %}
                <div class="card mb-3 mx-auto" style="width: 23%;">
                    <a href="{% url 'productpage' product.id %}">
                    <img class="card-img-top wooden-frame cursor-pointer" height="200rem"
                        src="{{ product.product.all.0.image.url }}">
                    </a>
                    
                    <div class="card-body align-items-end">
                        <a class="no-text-decoration text-dark" href="{% url 'productpage' product.id %}">
                            <h6 class="card-title">{{product.name}}</h6>
                        </a>
                        {% if product.discount == 0 %}
                            <p class="my-3">Price: {{product.price|inrcurrency|currency}}</p>
                        {% else %}
                            <p class="my-3">
                                Price: <del>{{product.price|inrcurrency|currency}}</del>
                                <small>{{product.price|discountedprice:product.discount|inrcurrency|currency}}</small>
                            </p>
                        {% endif %}
                    </div>

                    <div class="card-footer p-0">
                        <div class="row">
                            <div class="col-6 pr-0 border-right">
                                <a href="#"
                                class="float-right btn btn-light form-control no-border-radius">Add to Cart
                                </a>
                            </div>
                            <div class="col-6 pl-0">
                                <a href="{% url 'productpage' product.id %}"
                                class="float-right btn btn-light form-control no-border-radius">View
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer p-0">
                        <div class="row">
                            <div class="col-6 pr-0 border-right">
                                <div class="row">
                                    <div class="col-4 text-center pr-0 border-right cursor-pointer">
                                        <h6 class="pt-2">-</h6>
                                    </div>
                                    <div class="col-4 text-center px-0">
                                        <h6 class="pt-2">10</h6>
                                    </div>
                                    <div class="col-4 text-center pl-0 border-left cursor-pointer">
                                        <h6 class="pt-2">+</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 pl-0">
                                <a href="{% url 'productpage' product.id %}"
                                class="float-right btn btn-light form-control no-border-radius">View
                                </a>
                            </div>
                        </div>
                    </div>
                </div> 
                {% endfor %}
            </div>


            <!---------------------------------------- Pagination Section Start ------------------------------------------->
            <div class="row mx-auto mb-3">
                <div class="col-md-6">
                    <b>Showing products
                        {% if products_list.paginator.count > 0 %}
                        <small class="font-bold">
                            ({{ first_item_number }}
                            -
                            {% if page_size|mul:products_list.number > products_list.paginator.count %}
                            {{ products_list.paginator.count }}
                            {% else %}
                            {{ page_size|mul:products_list.number }}
                            {% endif %}
                            of
                            {{ products_list.paginator.count }})
                        </small>
                        {% endif %}
                    </b>
                </div>

                <div class="col-md-6">
                    <nav class="float-right">
                        {% if products_list.paginator.count > page_size and products_list.paginator.count > 0 %}
                        <!---------------- Pagination Start ----------------------->
                        <ul class="pagination pagination-sm">
                            {% if products_list.has_previous %}
                            <li class="page-item">
                                <a class="page-link text-dark" href="?page=1{% if request.GET.title %}&title={{ request.GET.title }}{% endif %}">
                                    <i class="fa fa-angle-double-left font-bold"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link text-dark" href="?page={{ products_list.previous_page_number }}{% if request.GET.title %}&title={{ request.GET.title }}{% endif %}"
                                   tabindex="-1">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </li>
                            {% endif %}

                            <!-------------------------- Page Number Start --------------------------->
                            {% for page in products_list.paginator.page_range %}
                            {% if page == products_list.number %}
                            <li class="page-item disabled">
                                <a class="page-link text-dark bg-custom font-bold" href="#">
                                    {{ page }}
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link text-dark" href="?page={{ page }}{% if request.GET.title %}&title={{ request.GET.title }}{% endif %}">{{ page }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            <!-------------------------- Page Number End ------------------------------>

                            {% if products_list.has_next %}
                            <li class="page-item">
                                <a class="page-link text-dark" href="?page={{ products_list.next_page_number }}{% if request.GET.title %}&title={{ request.GET.title }}{% endif %}">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link text-dark" href="?page={{ products_list.paginator.num_pages }}{% if request.GET.title %}&title={{ request.GET.title }}{% endif %}">
                                    <i class="fa fa-angle-double-right font-bold"></i>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                        {% endif %}
                        <!---------------- Pagination End ----------------------->
                    </nav>
                </div>
            </div>
            <!---------------------------------------- Pagination Section End ------------------------------------------->


            {% else %}
            <div class="row bg-white text-center no-artwork-section">
                <div class="col-12">
                    <h4>No Artwork Available</h4>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}